.body {
  position: relative;
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    177deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  min-height: 100vh;
}

.pages {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.taskTodo-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  width: 100%;
  gap: 5px;
  margin: 0 auto;
}
